<section class='devise'>
	<div class='container group'>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :username %>
  <%= f.password_field :username, type: "text", :autofocus => true %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email, type: "email" %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Join now" %></div>
<% end %>

</div>
</section>